header {
  font-size: 14px;
  padding: 0px 50px;
  min-height: 71px;
  border-bottom: 1px solid gray;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  padding-bottom: 4px;
}

.header-box1 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-box1 ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-box1 ul li {
  list-style: none;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 71px;
}

/* .list1:hover {
  transition: 0.7s ease;
  border-bottom: 4px solid #eb7a00;
} */
.list1 a {
  text-decoration: none;
  color: black;
}
.nav-logo img {
  width: 147px;
  height: 20px;
}

/************ header-box2 ***********/
.header-box2 {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-box2 .nav-search {
  border: none;
  background: #efeeee;
  display: flex;
  align-items: center;
  width: 18rem;
  border-radius: 5px;
}
.header-box2 .nav-search .search-icon {
  padding: 8px 8px;
  color: gray;
  font-weight: 400;
}
.header-box2 .nav-search input {
  background: transparent;
  border: none;
  outline: none;
  padding: 8px 8px;
  font-size: 10px;
  width: 100%;
}
.nav-line {
  font-size: 20px;
  font-weight: 100;
}
.nav-login {
  font-weight: 500;
  cursor: pointer;
}
.nav-login a {
  text-decoration: none;
  color: black;
}
.like,
.cart {
  font-weight: 300;
  cursor: pointer;
  margin-top: 6px;
  color: black;
}

.nav-like {
}
.nav-cart {
  position: relative;
}
.cart {
  position: relative;
}
.hidden-item6 {
  position: absolute;
  background-color: #fdd835;
  font-size: 11px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
  right: -6px;
  top: 4px;
}
.menu {
  display: none;
}
.header-box3 {
  position: absolute;
  top: -500px;
}
.nav-search-mb {
  display: none;
}
.header-box4 {
  position: absolute;
  top: -500px;
}
.category-box {
  display: none;
}
.same4 {
  display: none;
}
@media screen and (max-width: 768px) {
  header {
    position: relative;

    padding: 10px;
  }
  .header-wrap {
    /* margin-top: 10px; */
  }
  .list1box {
    display: none !important;
  }
  .b2 {
    display: none !important;
  }
  .menu {
    display: block !important;
    font-size: 28px;
  }
  .header-box2 .nav-search {
    display: none;
  }
  .nav-logo a {
    font-size: 10px !important;
  }
  .header-box2 {
    /* width: 50%; */
  }

  /* header-box3*/
  .same4 {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    width: 100%;
    right: 0;
    height: 100vh;
    transition: 1s ease-in;
    transition: 1s ease-in;
    padding: 20px 25px;
    z-index: 3;
  }
  .header-box3 {
    /* display: block; */

    top: 0px;
  }
  .ico1 {
    width: 20px;
  }
  .header-box4 {
    top: -100vh !important;
  }
  .list55Box {
  }
  .list55Box a {
    text-decoration: none;
    color: black;
  }
  .list55 {
    list-style: none;
    margin: 5px 0px;
    padding: 7px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: gray; */
  }
  .list55:hover {
    background-color: rgb(240, 238, 238);
  }
  .nav-search-mb {
    display: block;
    border: none;
    background: #efeeee;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
  }

  .search-icon2 {
    padding: 5px 8px;
    color: gray;
    font-weight: 400;
  }
  .input3 {
    background: transparent;
    border: none;
    outline: none;
    padding: 5px 8px;
    font-size: 10px;
    width: 100%;
  }
}
